{% extends 'base.html' %}
{% block maincontent %}
<h1>Edit Stock</h1>
<!-- All feilds must be filled -->
<form method="POST" class="form">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-control" value="{{ stock[1] }}" required>
    </div>

    <div class="mb-3">
        <label for="ticker" class="form-label">Ticker:</label>
        <input type="text" id="ticker" name="ticker" class="form-control" value="{{ stock[2] }}" required>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" step="0.01" id="price" name="price" class="form-control" value="{{ stock[3] }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
<!-- Go back to home page -->
<a href="{{ url_for('main.index') }}" class="btn btn-secondary mt-3">Back to Stock List</a>
{% endblock %}
