{% extends 'base.html' %}
{% block maincontent %}
<h1>Stock List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Ticker</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock[1] }}</td> <!-- stock[1] is name, stock[2] is ticker, stock[3] is price -->
        <td>{{ stock[2] }}</td>
        <td>{{ stock[3] }}</td>
        <td>
            <a href="{{ url_for('main.edit_stock', id=stock[0]) }}">Edit</a>
            <form action="{{ url_for('main.delete_stock', id=stock[0]) }}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('main.add_stock') }}">Add Stock</a>

{% endblock %}